<!DOCTYPE html>
<!--
현재 index.html 페이지에서
thymeleaf 라고 하는 회사에서 제공하는 html 과 java 간의 데이터 주고받는
연결작업을 사용할 것이고,
매번 http://www.thymeleaf.org 이 주소를 작성하기 번거롭기 때문에
th 라는 별칭으로 줄여서 사용하겠다.
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그</title>
</head>
<body>
<h1>게시글 목록</h1>
<table border="1">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
    </tr>
    <tr th:each="p : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.content}"></td>
    </tr>
</table>
</body>
</html>