<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css 를 편하게 사용할 수 있는 부트스트랩 적용 -->

    <title>signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<h1>회원가입</h1>
<form action="/signup" method="post">
    <div>
        <label>아이디 :
            <input type="text" name="id" required>
        </label>
    </div>
    <div>
        <label>이메일 :
            <input type="email" name="email" id="email" required>
        </label>
        <button type="button" onclick="sendEmailCode()">인증번호 발송</button>
    </div>
    <div>
        <label>인증번호 :
            <input type="text" id="code">
        </label>
        <button type="button" onclick="verifyEmailCode()">인증번호 확인</button>
        <span id="verifyResult"></span>
    </div>
    <div>
        <label>이름 :
            <input type="text" name="name" required>
        </label>
    </div>
    <div>
        <label>비밀번호 :
            <input type="password" name="password" required>
        </label>
    </div>
    <!-- btn = button 에서 자음을 축소하여 버튼의 줄임말로 많이 사용-->
    <button type="reset" class="btn btn-outline-secondary">초기화</button>
    <button type="submit" class="btn btn-primary">회원가입</button>
</form>

<script>
    function sendEmailCode() {
        const email = document.getElementById("email").value;
        fetch("/email/send?email=" + encodeURIComponent(email), {method: "POST"})
            .then(res => res.text())
            .then(msg => alert(msg));
    }

    function verifyEmailCode() {
        const email = document.getElementById("email").value;
        const code = document.getElementById("code").value;
        fetch("/email/verify?email=" + encodeURIComponent(email) + "&code=" + encodeURIComponent(code), {method: "POST"})
            .then(res => res.text())
            .then(msg => {
                document.getElementById("verifyResult").innerText = msg
            });
    }

</script>
<!--
보통
link    태그는 /head 태그가 닫히기 전에 넣어주고
script 태그는 /body 태그가  닫히기 전에 넣어준다.

인터넷 브라우저는 html을 위에서부터 아래로 읽으면서 화면을 그려 나간다.
css 가 없으면 화면에 어떻게 디자인을 적용할지 모른다.
head 에서 css 를 먼저 로딩하고, 브라우저가 스타일 정보를 다 파악한 다음
body 에 내용을 디자인 한다.
이 디자인이 다 입혀진 html 화면이 소비자의 눈에 보이게 된다.

css를 body 아래쪽에 넣으면 스타일이 렌더링할 때 어느순간에는 깨지는 현상 발생

디자인을 입힌 완성된 모습으로 한 번에 보여주기 위하여 css 는 미리 head 에서
불러와 주는 것이 안전하다.

script 는 body 끝에 넣는 이유
- js 는 html 요소를 조작하는 경우가 많다.
- 그래서 body 태그의 각각의 요소들이 어디에 존재하는지 파악하고,
파악한 후 요소들의 움직임이나 동작을 적용
어디에 위치한 html 태그를 어떻게 동작해야 할 때 사용

요소 와 태그의 차이

<div> </div> -> 단순 태그

<div>안녕</div> -> 태그 + 개발자가 표현하고자 하는 데이터 추가 = 요소

요소
태그 + 태그 내부에 존재하는 속성이나 개발자나 소비자가 작성한 데이터
-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>
